<div>
    <p>Manage</p>
</div>

<div>
        <h2>Add A Genre Type</h2>
        <form ng-submit="vm.addGenre()">
            <input ng-model="vm.genreToSend.name" type="text" placeholder="Genre Name">
            <input type="submit" value="Add Genre">
        </form>
</div>
<br>
<br>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Genre Type</th>
                <th>Total Movies With Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="genre in vm.genreArray">
                <td>{{genre.name}}</td>
                <td>Number of movies with genre</td>
                <td><button>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>