<!-- <table>
    <thead>
        <tr>
            <th>
                <a ng-href="#!/">Home</a>
            </th>
            <th>
                <a ng-href="#!/add">Add Movie</a>
            </th>
            <th>
                <a href="#!/manage">Manage Genres</a>
            </th>
            <th>
                <a href="#!/favorites">Favorites</a>
            </th>
        </tr>
    </thead>
</table> -->


<md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item default md-nav-href="#!/" name="page1">
            Home
        </md-nav-item>
        <md-nav-item md-nav-href="#!/add" name="page2" ng-disabled="secondTabDisabled">
            Add Movies
        </md-nav-item>
        <md-nav-item md-nav-href="#!/manage" name="page3">
            Manage Genres
        </md-nav-item>
        <md-nav-item md-nav-href="#!/favorites" name="page4" disabled>
            Favorites
        </md-nav-item>
    </md-nav-bar>


</md-content>