<!-- <table>
    <thead>
        <tr>
            <th>
                <a ng-href="#!/">Home</a>
            </th>
            <th>
                <a ng-href="#!/add">Add Movie</a>
            </th>
            <th>
                <a href="#!/manage">Manage Genres</a>
            </th>
            <th>
                <a href="#!/favorites">Favorites</a>
            </th>
        </tr>
    </thead>
</table> -->


<md-content id="navBar" class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item default md-nav-href="#!/" name="page1">
            Home
        </md-nav-item>
        <md-nav-item md-nav-href="#!/add" name="page2" ng-disabled="secondTabDisabled">
            My Movies
        </md-nav-item>
        <md-nav-item md-nav-href="#!/manage" name="page3">
            Manage Genres
        </md-nav-item>
        <md-nav-item md-nav-href="#!/favorites" name="page4" disabled>
            Favorites
        </md-nav-item>
    </md-nav-bar>
</md-content>

<md-content layout="row" layout-padding>
   <br>
    <form ng-submit="vm.addMovie()">
        <div>
            <md-input-container flex>
                <label>Movie Title</label>
                <input required ng-model="vm.movieToSend.name" type="text">
            </md-input-container>

            <md-input-container flex>
                <select required ng-options="genre.id as genre.name for genre in vm.genreArray" ng-model="vm.movieToSend.genre_id">
                    <option value="" disabled>----Select Genre----</option>
                </select>
            </md-input-container>

            <md-input-container flex>
                <md-datepicker required ng-model="vm.movieToSend.release_date" md-current-view="year" md-placeholder="Release Date"></md-datepicker>
            </md-input-container>

            <md-input-container flex>
                <label>HH:MM</label>
                <input required ng-model="vm.movieToSend.run_time" type="text">
            </md-input-container>

            <md-input-container flex>
                <label>Image URL</label>
                <input required ng-model="vm.movieToSend.image" type="text">
            </md-input-container>

            <md-input-container flex>
                <md-button class="md-primary md-raised" type="submit" value="Add Movie">Add Movie</md-button>
            </md-input-container>
        </div>
    </form>

</md-content>